<div class="col col-sm-6 col-questions">
			<h3>What do you think?</h3>

			<label for="username" class="input-label">Your Name<br /><input class="form-control" id="username" /></label><br />

			<label for="sympathy" id="q1" class="input-label">In your opinion, what was the most important part of this article?<br /><input class="form-control" id="sympathy" /></label><br />

			<label for="antipathy" id="q2" class="input-label">Keywords<br /><input class="form-control" id="antipathy" /></label><br />

			<label for="examples" id="q3" class="input-label">Who are they talking about?<br /><textarea class="form-control" id="examples"></textarea></label><br />

			<button type="button" class="btn btn-large btn-save-note">Save it</button>

			<button type="button" class="btn btn-large btn-show-notes">View Saved Notes</button>

		</div>
	